<ul class="nav nav-pills" >
    <li class="nav-item ml-auto mr-5">
        <a href="/principal">
            <button type="button" class="btn btn-success">AULA</button>
        </a>

    </li>


    <li class="nav-item ml-auto mr-5">
        <a href="/cerrarSesion">
            <button type="button" class="btn btn-danger">Cerrar Sesion</button>
        </a>

    </li>

</ul>








