<form action="/login" method="post">
    <h1>LOGIN</h1>
    <br>
    <label for="usuarioId">USUARIO</label>
    <input type="text" id="usuarioId" name="usuario">
    <br>
    <label for="passwordId">PASSWORD</label>
    <input type="password" id="passwordId" name="password">
    <br>
    <button type="submit">Login</button>


</form>